* {
  font-family: 'Roboto Condensed', sans-serif;
}

.bg-news {
  background-color: #f72122;
}

#logo-link {
  width: 35%;
}

.newslogo {
  padding-right: 5px;
  max-width: 100%;
}

.sm-font {
  font-size: 12px;
}

.m-font {
  font-size: 16px;
}

.b-font {
  font-size: 19px;
}

.brand svg {
  vertical-align: bottom;
}

#footer-img {
  width: 15rem;
  height: 1.5 rem;
  fill: #f72210;
}

footer .hsl {
  height: 1 rem;
}

@media screen and (min-width: 768px) {
  .newslogo {
    width: 50%;
  }

  footer .ftn {
    display: flex;
    justify-content: flex-end;
  }
}

@media screen and (min-width: 992px) {
  .newslogo {
    width: 30%;
  }
}
